##############################
# Build
##############################

bin/
obj/
[Bb]in/
[Oo]bj/

##############################
# Visual Studio
##############################

.vs/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates

##############################
# Rider
##############################

.idea/

##############################
# Logs
##############################

*.log

##############################
# Test Results
##############################

TestResults/
*.trx
coverage/

##############################
# NuGet
##############################

packages/
*.nupkg

##############################
# Publish
##############################

publish/
artifacts/

##############################
# IIS Express
##############################

iisexpress/

##############################
# Local Settings
##############################

appsettings.Development.json

##############################
# EF Core
##############################

*.db
*.sqlite
*.sqlite3

##############################
# OS Files
##############################

Thumbs.db
Desktop.ini
.DS_Store